/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.controls {
  position: absolute; /* Position controls absolutely */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Higher z-index to ensure they sit on top */
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure loading indicator is on top as well */
}

.map-container {
  display: flex;
}

.sidebar {
  width: 300px; /* Adjust width as needed */
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  height: 100vh;
  overflow-y: auto; /* Allow scrolling if content is long */
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Ensure controls are above map layers */
}

.bottom-right-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-right-panel button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.bottom-right-panel button:hover {
  background-color: #f0f0f0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #fff;
}
.glow-effect {
  animation: glow-animation 1.5s infinite alternate;
}

@keyframes glow-animation {
  0% {
    stroke: #00ffff; /* Starting stroke color */
    stroke-width: 7; /* Default stroke width */
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.7)); /* Initial glow */
  }
  100% {
    stroke: #00fff7; /* End stroke color */
    stroke-width: 15; /* Thicker stroke for glow */
    filter: drop-shadow(0 0 25px rgba(255, 0, 0, 1)); /* Maximum glow */
  }
}

.pulse {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 0, 0.8); /* Yellow */
  border-radius: 50%; /* Circular shape */
  animation: pulse-animation 1.5s infinite; /* Pulse animation */
  transform: translate(-50%, -50%); /* Center the dot */
}

@keyframes pulse-animation {
  0% {
    transform: scale(12);
    opacity: 1;
  }
  100% {
    transform: scale(122);
    opacity: 1;
  }
}

/* App.css */
/* styles.css */

.custom-popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001; /* Ensure it appears on top of the map */
}